@charset "UTF-8";
.contenedor-conoceme-grid {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera" "conoceme conoceme conoceme" "piepagina piepagina piepagina";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 80px auto auto;
  margin-top: 0px;
  margin: 20px auto;
  grid-gap: 10px; }

.conoceme-principal {
  grid-area: conoceme;
  margin: 0 auto;
  /*0 arriba y abajo - y automático a los costados - me queda centrado*/
  color: black;
  font-size: 1.5rem; }
  .conoceme-principal h2 {
    margin-bottom: 30px;
    /*separo el h2 del contenido*/
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto;
    /* Centro */
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px #b0059b; }
  .conoceme-principal p {
    line-height: 2em;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    /*Separación entre lineas de un párrafo*/ }
  .conoceme-principal ul {
    list-style-position: inside;
    /*Los iconos de lista quedan dentro del li*/
    margin: 0;
    /*Elimino los espacios con margin y padding y saco el espacio del ul*/
    padding: 0;
    list-style-image: url("../iconos/zapatos2.png");
    line-height: 2em; }
    .conoceme-principal ul li {
      text-align: left;
      margin-left: 30px; }

.cont-principal-conoceme {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /*Para que se posicionen abajo cuando no entran*/
  flex-direction: row;
  /*pongo en fila*/
  justify-content: space-evenly;
  /*trabaja a nivel de fila la separación*/ }

.cuadricula {
  width: 500px;
  height: autopx;
  text-align: center;
  line-height: 60px;
  margin: 5px;
  /*Separo las cajas*/
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  cursor: pointer; }
