/*FOTOS HTML*/
.contenedor-fotos-grid {
    display: grid;
    /*utilizo grid*/
    grid-template-areas:
      'cabecera cabecera cabecera'
      'fotos    fotos    fotos'
      'piepagina piepagina piepagina';
    grid-template-columns: repeat(3, 1fr);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, 1fr);
    /*Son 3 las Filas*/
    grid-template-rows: 80px auto auto;
  
    margin-top: 0px;
    /*Margen Superior 0*/
    margin: 20px auto;
    /*centro la pagina*/
    grid-gap: 10px;
    /*espaciado entre secciones*/
  }
  
  .fotos-principal {
    grid-area: fotos;
    margin: 0 auto;
    /*0 arriba y abajo - y automático a los costados - me queda centrado*/
    font-size: 1.5rem;
    line-height: 1.5em;
    /*Separación entre lineas de un párrafo*/
    color: black;
  
    h2 {
      @include estiloh2;
    }
  
     p {
        @include estiloh2;
        margin-bottom: 30px;
    }
  
    hr {
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }