/* -- MOBILE -- */
@media (max-width: 500px) {
  /*ACÁ LE DIGO QUE CUANDO LA PANTALLA SEA MENOR A 576 LAS COSAS SE ACOMODEN DIFERENTE*/
  .contenedor-grid {
    grid-template-areas:
      "cabecera"
      "principal"
      "piepagina";
    grid-template-columns: repeat(1, auto);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
  }

  .piepagina-contenedor {
    grid-template-areas:
      "info-pie"
      "clases-pie"
      "horarios-pie"
      "derechos-pie";
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(4, auto);
  }

  .datos-infopie {
    width: 350px;
  }

  .info-pie {
    grid-area: info-pie;
    display: grid;
  }
  .img-slide {
    height: 300px;
    width: 350px;
    display: block;
    margin: 0px auto;
    /*para centrar la imagen en el slide*/
  }

  .caja {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
  }

  .encabezado {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .encabezado h2 {
    width: 400px;
    margin-left: 20px !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .encabezado p {
    width: 400px !important;
    margin-left: 20px !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700;
    font-size: 2.5rem !important;
  }

  .img-bcg-index {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: contain;
  }

  .conoceme-principal {
    li {
      margin-left: 0px !important;
    }
  }
  .imagen-conoceme {
    width: 330px !important;
    height: auto;
  }

  .div-img-pamela {
    position: relative;
    width: 320px !important; //Sin ancho no puedo centrar la imagen
    height: 450px;
  }

  .img-pamela {
    width: 310px !important;
    height: 450px;
    align-self: center !important;
  }

  // .contenedor-jazz-grid {
  //   grid-template-areas:
  //     "cabecera"
  //     "jazz"
  //     "piepagina";
  //   grid-template-columns: repeat(1, 350px);
  //   /*Son 3 las columnas*/
  //   grid-template-rows: repeat(3, auto);
  //   /*Son 3 las Filas*/
  // }

  .img-inscripcion2022 {
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
  }

  .div-form-inscripcion {
    width: 340px;
    /* Sin ancho no puedo centrar el formulario */

    .form-inscribite {
      
      border-radius: 15px;
      height: 550px;
      width: 340px;
      position: relative;
      overflow: hidden;
      margin: 0 auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
    }
  }

  .div-form-contacto {
    width: 330px;
    /* Sin ancho no puedo centrar el formulario */
    max-width: 340px;

    .form-contacto {
      width: 320px;
      height: 500px;

      .contactar {
        left: 35%;

        .form-principal-contacto {
          button {
            width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
