/* -- MOBILE -- */
@media (max-width: 500px) {
  /*ACÁ LE DIGO QUE CUANDO LA PANTALLA SEA MENOR A 576 LAS COSAS SE ACOMODEN DIFERENTE*/
  .logo-imagen {
    width: 100px;
    height: 50px;
  }

  .logo-pie {
    width: 100px;
    height: 50px;
  }

  .contenedor-grid {
    grid-template-areas:
      "cabecera"
      "principal"
      "piepagina";
    grid-template-columns: repeat(1, auto);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
  }

  .contenedor-fotos-grid {
    display: grid;
    /*utilizo grid*/
    grid-template-areas:
      "cabecera"
      "fotos"
      "piepagina";
    grid-template-columns: repeat(1, 100%);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
    /*Son 3 las Filas*/
  }

  .fotos-principal {
    p {
      font-weight: 700;
      font-size: 2.4rem;
    }
  }

  .contenedor-conoceme-grid {
    display: grid;
    // utilizo grid
    grid-template-areas:
      "cabecera"
      "conoceme"
      "piepagina";
    grid-template-columns: repeat(1, 100%);
    // Son 3 las columnas
    grid-template-rows: repeat(3, auto);
    // Son 3 las Filas
  }

  .contenedor-contacto-grid {
    display: grid;
    /*utilizo grid*/
    grid-template-areas:
      "cabecera"
      "contacto"
      "piepagina";
    grid-template-columns: repeat(1, 100%);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
  }  

  .contenedor-inscripcion-grid {
    display: grid;
    /*utilizo grid*/
    grid-template-areas:
      "cabecera"
      "inscripcion"
      "piepagina";
    grid-template-columns: repeat(1, 100%);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
   }

   .contenedor-folclore-grid {
    display: grid;
    /*utilizo grid*/
    grid-template-areas:
      "cabecera"
      "folclore"
      "piepagina";
    grid-template-columns: repeat(1, 100%);
    /*Son 3 las columnas*/
    grid-template-rows: repeat(3, auto);
   }  

  .piepagina-contenedor {
    grid-template-areas:
      "info-pie"
      "clases-pie"
      "horarios-pie"
      "derechos-pie";
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(4, auto);
  }

  .datos-infopie {
    width: 350px;
  }

  .info-pie {
    grid-area: info-pie;
    display: grid;
  }
  .img-slide {
    height: 300px;
    width: 350px;
    display: block;
    margin: 0px auto;
    /*para centrar la imagen en el slide*/
  }

  .caja {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
  }

  .encabezado {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .encabezado h2 {
    width: 400px;
    margin-left: 20px !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .encabezado p {
    width: 400px !important;
    margin-left: 20px !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700;
    font-size: 2.5rem !important;
  }

  .img-bcg-index {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: contain;
  }

  .conoceme-principal {
    li {
      margin-left: 0px !important;
    }
  }
  .imagen-conoceme {
    width: 330px !important;
    height: auto;
  }

  .div-img-pamela {
    position: relative;
    width: 320px !important; //Sin ancho no puedo centrar la imagen
    height: 450px;
  }

  .img-pamela {
    width: 310px !important;
    height: 440px !important;
    align-self: center !important;
  }

  .img-inscripcion2022 {
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
  }

  .div-form-inscripcion {
    width: 330px;
    /* Sin ancho no puedo centrar el formulario */
    max-width: 340px;

    .form-inscribite {
      border-radius: 15px;
      width: 320px;
      height: 500px;
      position: relative;
      overflow: hidden;
      margin: 0 auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;

      .inscripcion {
        width: 300px;
        height: 450px;
        margin-left: 20px;
        .form-principal-inscripcion {
          .inscribirse-btn {
            margin-left: 30px !important;
            // padding: 15px 45px;
            width: 100px !important; /*Tamaño del BOTON Registrarse*/
          }
        }
      }
    }
  }

  .div-form-contacto {
    width: 330px;
    /* Sin ancho no puedo centrar el formulario */
    max-width: 340px;

    .form-contacto {
      width: 320px;
      height: 500px;

      .contactar {
        left: 35%;

        .form-principal-contacto {
          button {
            width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .titulo-jazz {
    position: absolute;
    /*Margenes*/
    top: 40px !important;
    left: 80px !important;
    bottom: 25px !important;
    right: 20px !important;
    /*tamaño*/
    width: 150px;
    height: 70px;
  }

  .titulo-folclore {
    position: absolute;
    /*Margenes*/
    top: 40px !important;
    left: 30% !important;
    bottom: 25px !important;
    right: 10% !important;
    /*tamaño*/
    width: 150px !important;
    height: 70px;

    p {
      font-weight: 700;
      font-size: 2rem !important;
      margin: 0 auto;
      /* Centro */
      margin-top: 20px;
      text-align: center;
    }
  }

  .text-folclore {
    .idc-box {
      // background: #f9f9f9 none repeat scroll 0 0;

      margin-left: 5px !important;
      background-size: contain;
      background-repeat: repeat;

      font-size: 80% !important;
      padding: 10px;
      width: 350px !important;
      height: auto;
      font-weight: 300;

      .idc-titulo {
        display: flex;
        flex-direction: row;
        font-weight: 700;
        text-align: center;
        color: white;
      }
    }
  }
}
