$sombraH2: 2px 2px rgb(176, 5, 155);
$sombraDivImagenes: 5px 6px 7px 0px grey;

$paletas: (
   'primario': rgb(26,11,107),
   'secundario': rgb(12,204,70),
   'hecho': rgb(40,192,40),
   'peligro': rgb(231,47,56)
);
