@import "inscripcion";
@import "conoceme";
@import "separadorEnMovimiento";
@import "variables";
@import "mobile";

html {
  height: 100%;
  font-size: 62.5%;
  /* =10px */
}

/*Defino los parámetros del Cuerpo de la pagina*/
body {
  color: black;
  /*Color de Letra*/
  /*  font-family: Georgia, "Times New Roman", Times, serif; Fuente del Body*/
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.4rem;
  /* Tamaño de Fuente en el Body*/
  line-height: 1em;
  /* distancia entre lineas de Texto*/
  margin: 0;
  min-height: 100%;
  /*background-color: white;*/


  background: #D3CCE3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}