.contenedor-conoceme-grid {
  display: grid;
  // utilizo grid
  grid-template-areas:
    "cabecera cabecera cabecera"
    "conoceme conoceme conoceme"
    "piepagina piepagina piepagina";
  grid-template-columns: repeat(3, 1fr);
  // Son 3 las columnas
  grid-template-rows: repeat(3, 1fr);
  // Son 3 las Filas
  grid-template-rows: 80px auto auto;

  margin-top: 0px;
  // Margen Superior 0
  margin: 20px auto;
  // centro la pagina
  grid-gap: 10px;
  // espaciado entre secciones*
}

.conoceme-principal {
  grid-area: conoceme;
  margin: 0 auto;
  /*0 arriba y abajo - y autom치tico a los costados - me queda centrado*/
  color: black;
  font-size: 1.5rem;

  h2 {
    margin-bottom: 30px;
    /*separo el h2 del contenido*/
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto;
    /* Centro */
    margin-top: 20px;
    text-align: center;

    text-shadow: 2px 2px rgb(176, 5, 155);
  }
  p{
    line-height: 2em;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  /*Separaci칩n entre lineas de un p치rrafo*/
  }

  ul{
    list-style-position: inside; /*Los iconos de lista quedan dentro del li*/
    margin: 0; /*Elimino los espacios con margin y padding y saco el espacio del ul*/
    padding: 0;
    list-style-image: url("../iconos/zapatos2.png");
    line-height: 2em;
    li{
      text-align: left;
      margin-left: 30px;
    }
  }
}

.cont-principal-conoceme {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;/*Para que se posicionen abajo cuando no entran*/
  
  flex-direction: row;
  /*pongo en fila*/

  justify-content: space-evenly;
  /*trabaja a nivel de fila la separaci칩n*/
}

.cuadricula {
  width: 500px;
  height: autopx;
  text-align: center;
  line-height: 60px;
  margin: 5px;
  /*Separo las cajas*/
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;

  cursor: pointer;
}